<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/layout :: head('FireStore - Fornecedores', '../../static/css/list.css')}"></head>

<body>

<!-- Navbar -->
<nav th:replace="~{fragment/layout :: nav_bar}"></nav>

<!-- Layout Principal -->
<div class="container-fluid">
  <div class="row">
    <!-- Menu Lateral -->
    <div class="col-md-3" th:replace="~{fragment/layout :: menu}"></div>

    <!-- Conteúdo Principal -->
    <main class="col-md-9 conteudo-geral">
      <div class="container table-container">
        <h2 class="text-center mb-4">Lista de Fornecedores</h2>
        <div class="table-responsive">
          <table class="table table-hover table-bordered" id="myTable">
            <thead class="table-dark">
            <tr>
              <!--                <th>ID</th>-->
              <th>Nome</th>
              <th>CNPJ</th>
              <th>Email</th>
              <th>Telefone</th>
              <th>Endereço</th>
              <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="supplier : ${supplierList}">
              <td th:text="${supplier.name}"></td>
              <td th:text="${supplier.cnpj}"></td>
              <td th:text="${supplier.email}"></td>
              <td th:text="${supplier.telephone}"></td>
              <td>
                <a th:href="@{/address/edit/EMPLOYEE/{id}(id=${supplier.id})}"
                   th:text="${supplier.address != null ? 'Editar Endereço' : 'Registrar Endereço'}">
                </a>
              </td>

              <td class="text-center d-flex justify-content-center align-items-center gap-2">
                <a th:href="@{/supplier/edit/{id}(id=${supplier.id})}"
                   class="btn btn-warning btn-sm d-flex align-items-center justify-content-center"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a th:href="@{/supplier/delete/{id}(id=${supplier.id})}"
                   class="btn btn-danger btn-sm d-flex align-items-center justify-content-center"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir">
                  <i class="fa-solid fa-trash"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <a href="/supplier/register" class="btn btn-primary">Novo Fornecedor</a>
      </div>
    </main>
  </div>
</div>

<!-- Scripts do Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- DataTables e configuração do idioma para português -->
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt_br.json"></script>

<script>
  // Inicializa tooltips do Bootstrap
  const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
  });

var table = new DataTable('#myTable', {
    language: {
        url: 'https://cdn.datatables.net/plug-ins/2.1.8/i18n/pt-BR.json', // Caminho absoluto
    },
});

</script>

</body>
</html>
