<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/layout :: head('FireStore - Produtos', '../../static/css/list.css')}"></head>
<link href="../../static/css/footer.css" rel="stylesheet">
<body>

<!-- Navbar -->
<nav th:replace="~{fragment/layout :: nav_bar}"></nav>

<!-- Layout Principal -->
<div class="container-fluid">
  <div class="row">
    <!-- Menu Lateral -->
    <div class="col-md-3" th:replace="~{fragment/layout :: menu}"></div>

    <!-- Conteúdo Principal -->
    <main class="col-md-9 conteudo-geral">
      <div class="container table-container">
        <h2 class="text-center mb-4">Lista de Produtos </h2>
        <div class="table-responsive">
          <table class="table table-hover table-bordered" id="myTable">
            <thead class="table-dark">
            <tr>
              <!-- <th>ID</th> -->
              <th>Nome</th>
              <th>Preço de Custo</th>
              <th>Preço de Venda</th>
              <th>Unidade de Medida</th>
              <th>Estoque</th>
              <th>Código de Barra</th>
              <th>Imagem URL</th>
              <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productList}">
              <td th:text="${product.name}"></td>
              <td th:text="'R$ ' + ${product.costPrice}"></td>
              <td th:text="'R$ ' + ${product.salePrice}"></td>
              <td th:text="${product.unitMeasure}"></td>
              <td th:text="${product.stock}"></td>
              <td th:text="${product.codeBar}"></td>
              <td th:text="${product.pictureUrl}"></td>

              <td class="text-center d-flex justify-content-center align-items-center gap-2">
                <a th:href="@{/product/edit/{id}(id=${product.id})}"
                   class="btn btn-warning btn-sm d-flex align-items-center justify-content-center"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a th:href="@{/product/delete/{id}(id=${product.id})}"
                   class="btn btn-danger btn-sm d-flex align-items-center justify-content-center"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir">
                  <i class="fa-solid fa-trash"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <a href="/product/register" class="btn btn-primary">Novo Produto</a>
      </div>
    </main>
  </div>
</div>

<div th:replace="~{fragment/footer :: scripts}"></div>
<footer th:replace="~{fragment/footer :: footer}"></footer>

</body>
</html>
