<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz.thymeleaf/Layout">
<head th:replace="~{fragment/layout :: head('funcionario registro', '../css/register.css')}"></head>

<body>

<!-- Navbar -->
<nav th:replace="~{fragment/layout :: nav_bar}"></nav>

<!-- Layout Principal -->
<div class="container-fluid">
    <div class="row">
        <!-- Menu Lateral -->
        <nav class="col-md-3" th:replace="~{fragment/layout :: menu}"></nav>

        <!-- Conteúdo Principal -->
        <main class="col-md-9 conteudo-geral">
            <div class="container my-5">
                <div class="form-container mx-auto col-md-6">
                    <h2 class="mb-4 text-center"></h2>
                    <form action="/employee/save" th:object="${employee}" method="POST">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" required aria-label="Employee Name">
                        </div>
                        <div class="mb-3">
                            <label for="role" class="form-label">Cargo:</label>
                            <input type="text" class="form-control" id="role" th:field="*{role}" required aria-label="Employee Role">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}" required aria-label="Employee Email">
                        </div>
                        <div class="mb-3">
                            <label for="telephone" class="form-label">Telefone:</label>
                            <input type="text" class="form-control" id="telephone" th:field="*{telephone}" pattern="\d*" required aria-label="Employee Telephone" title="Digite apenas números">
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>

    </div>
</div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
