.menu-lateral {
    width: 250px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu-lateral h5 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}

.menu-lateral .list-group {
    margin-top: 10px;
}

.menu-lateral .list-group-item {
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
}

.menu-lateral .list-group-item:hover,
.menu-lateral .list-group-item.active {
    background-color: #343a40 ;
    color: #fff;
}

@media (max-width: 768px) {
    .menu-lateral {
        width: 100%;
        height: auto;
    }

    .menu-lateral .list-group-item {
        text-align: center;
    }
}

.nav-link.active {
    font-weight: bold;
    color: #fff !important;
}

.list-group-item.active {
    background-color: #343a40 !important;
    color: white !important;
    font-weight: bold;
}
